<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Hello {{name}}!</p>
  <br />
  <p>We received a password reset request for your user account.</p>
  <p>If it was really you who asked for a password reset, please click the link below to choose a new password</p>
  <p>
    <a href="{{link}}">Reset my Password</a>
  </p>
  <p>In case you didn't asked for a reset, just discard this message.</p>
  <br />
  <p>Thank You!</p>
  <p>Team Sales API</p>
</div>
